# La estructura de datos en serie

Una serie es un n-arreglo unidimensional con etiquetas.

Es un arreglo que te permite almacenar información de diferentes tipos sea por medio de cadenas de texto, flotantes o enteros, entre otros.

In [1]:
import pandas as pd
pd.Series?

In [3]:
animals = ['Tiger', 'Bear', 'Moose']
s = pd.Series(animals)
type(s)

pandas.core.series.Series

In [4]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [6]:
numbers = [1, -2, 3, -4, 5, -6, 7, -7, 7, -7, 8, -9, 10, -11, 12]
serie = pd.Series(numbers)
serie

0      1
1     -2
2      3
3     -4
4      5
5     -6
6      7
7     -7
8      7
9     -7
10     8
11    -9
12    10
13   -11
14    12
dtype: int64

In [7]:
serie.describe()

count    15.000000
mean      0.466667
std       7.529624
min     -11.000000
25%      -6.500000
50%       1.000000
75%       7.000000
max      12.000000
dtype: float64

In [8]:
serie.min()

-11

In [9]:
serie.max()

12

In [10]:
serie.abs()

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      7
8      7
9      7
10     8
11     9
12    10
13    11
14    12
dtype: int64

In [11]:
serie.where(serie > 1)

0      NaN
1      NaN
2      3.0
3      NaN
4      5.0
5      NaN
6      7.0
7      NaN
8      7.0
9      NaN
10     8.0
11     NaN
12    10.0
13     NaN
14    12.0
dtype: float64

In [12]:
serie.where(serie > 1, 0)

0      0
1      0
2      3
3      0
4      5
5      0
6      7
7      0
8      7
9      0
10     8
11     0
12    10
13     0
14    12
dtype: int64

In [13]:
serie.where(serie > 1).dropna()

2      3.0
4      5.0
6      7.0
8      7.0
10     8.0
12    10.0
14    12.0
dtype: float64

In [14]:
serie1 = pd.Series([1, 2, 3, 5, 7])
serie2 = pd.Series([13, 17, 11, 5, 3])

In [15]:
serie1 < serie2

0     True
1     True
2     True
3    False
4    False
dtype: bool

In [16]:
serie1 > serie2

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [17]:
serie1 == serie2

0    False
1    False
2    False
3     True
4    False
dtype: bool

Los diccionarios se pueden convertir en series

In [18]:
datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

serie = pd.Series(datos)
serie

a    10
b    20
c    30
d    40
dtype: int64

In [19]:
serie['a']

10

In [20]:
import numpy as np
np.nan == None

False

In [21]:
np.nan == np.nan

False

In [24]:
np.isnan(np.nan)

True

In [25]:
np.isnan(1)

False

In [26]:
datos = ['2.3', 'Python', '90', '100', np.nan, '0.5', '.9']

serie = pd.Series(datos)

serie

0       2.3
1    Python
2        90
3       100
4       NaN
5       0.5
6        .9
dtype: object

In [27]:
serie = serie.dropna()
serie

0       2.3
1    Python
2        90
3       100
5       0.5
6        .9
dtype: object

In [28]:
datos = [1, 3, 7, 11, 'Python', '-0.5', np.nan]

serie = pd.Series(datos)

serie

0         1
1         3
2         7
3        11
4    Python
5      -0.5
6       NaN
dtype: object

In [29]:
serie.fillna(0, inplace=True)

serie

0         1
1         3
2         7
3        11
4    Python
5      -0.5
6         0
dtype: object

# La estructura de datos Data Frame

Pandas DataFrame es una estructura de datos como cualquier tabla con filas y columnas. Los valores de la dataframe pueden ser modficados. Por ello es el objeto de pandas mas comunmente usado. Existen distintas maneras de crear Data Frames. Entre ellas esta la funcion DataFrame().



```
import pandas as pd
pd.DataFrame(data, index, columns)
```


Para crear un data frame se usa la siguiente sintaxis
data: Es el conjunto de datos con el que se crea el Data Frame. Pueden ser una lista, un diccionario, un valor escalar, una serie, un arreglo ndarray, etc.

index: Es opcional, por defecto, el indice empieza en 0 y termina en n-1 para una lista de n valores. Define de manera explicita la etiqueta de las filas.

columns: Se usa para crear los nombres de las columnas. Si no se define el nombre de las columnas, de manera similar toma valores de 0 a n-1

In [30]:
# Importing Pandas to create DataFrame
import pandas as pd
  
# Creating Empty DataFrame and Storing it in variable df
df = pd.DataFrame()
  
# Printing Empty DataFrame
print(df)

Empty DataFrame
Columns: []
Index: []

In [31]:
df

Empty DataFrame
Columns: []
Index: []

Ahora vamos a crear un Data Frame con los datos de la primer tarea

In [32]:
import pandas as pd
my_data_1 = pd.Series({'Nombres': 'Diana Laura', 'Apellidos': 'López Morales', 
           'E-mail': 'ita.dianalopez@gmail.com', 'edad': 26, 
           'Grado':'Maestría', 'Licenciatura': 'Ingeniero en tecnología ambiental', 
           'Proyecto': 'D-92011', 'Tutor': 'Gusavo Sosa Iglesias'})
my_data_2 = pd.Series({'Nombre':'Carlos', 'Apellidos':'Paredes Marcial', 'E-mail':'cpm199660@gmail.com', 
           'Edad':'26 años', 'Grado':'Licenciatura', 
           'Proyecto':'Recuperacion de aceite por inyeccion de flujo bifasico de surfractante y agua de baja salinidad', 
           'Tutor':'Rodrigo Salazar'})
my_data_3 = pd.Series({'Nombre':'Alberto','Apellidos':'Vázquez Contreras',
           'Email':'posavazquez@imp.mx','Edad':'29','Grado':'1erSemestre',
           'Licenciatura':'Ing.Petrolera','Pryecto':'IA aplicada en la Ingeniería de Yacimientos',
           'Tutor':'Dr.Leonid Shemeretov'})
my_data_4 = pd.Series({'Nombre':'Alejandro','Apellidos':'Brena Hernandez', 'e-mail': 'brenaalejandro@hotmail.com','Edad':'26',
       'Grado':'Maestria', 'Licenciatura':'Geofisica','Proyecto':'Clasificacion de sismofacies con ML',
       'Tutor':'Dr. Luis Velasquillo'})
my_data_5 = pd.Series({'Nombre':'Eliseo Andrei', 'Apellidos':'Martinez Angel', 
         'E-mail':'eliseoandrei@live.com.mx','Edad':'18 años',
         'Grado':'Licenciatura','Licenciatura':'Ingenieria Quimica Petrolera',
         'Proyecto':'Sintesis. Evaluacion y Caracterizacion de liquidos ionicos como catalizadores', 
         'Tutor':'Dr. Rafael Mtz Palou'})
my_data_6 = pd.Series({1:'Nombres',2:'Apellidos',3:'E-mail',4:'Edad',5:'Grado',6:'Licenciatura',7:'Proyecto',8:'Tutor'})
my_data_7 = pd.Series({"A.":"Emilio",
        "B.":"Leal Gómez",
        "C":"em.lego1603@gmail.com",
        "D":30,
          "E":"Doctorado",
          "F":"Química",
          "G":"Síntesis, caracterización y evaluación de un agente de transferencia de hidrógeno sólido para la producción de diésel de ultra bajo azufre",
          "H":"Dr. Jorge Ancheyta y Dr. Pablo Torres"})
my_data_8 = pd.Series({'nombres':'rosario','Apellidos': 'giron','E-mail': 'xaiio_@hotmail.com',
                       'Edad':26,'Grado':3,'Licenciatura':'geofisica','Proyecto': 'rn','Tutor': 'velasquillo'})
my_data_9 = pd.Series({
           'Nombres':'Sergio Enrique',
           'Apellidos':'de la Cruz',
           'E-mail':'sdelacruzchable@gmail.com',
           'Edad':26,
           'Grado':'Lecenciatura',
           'Licenciatura':'Ing. Petrolera',
           'Proyecto':'Diseño de BN para AF',
           'Tutor':'CLG'
          })
my_data_10 = pd.Series({
    'Nombre':'Mariana Yesenia',
    'Apellidos':'Piña Fernández',
    'E-mail':'mayepifer@hotmail.com',
    'Edad':28,
    'Grado':'Licenciatura',
    'Licenciatura':'Ingeniería Química',
    'Proyecto':'Síntesis de catalizadores base líquidos iónicos para la reacción de alquilación',
    'Tutor':'Natalya V. Likhanova'
})
df = pd.DataFrame([my_data_1, my_data_2, my_data_3,my_data_4,my_data_5,my_data_6,my_data_7,my_data_8,my_data_9,my_data_10])
df

,1,2,3,4,5,6,7,8,A.,Apellidos,...,H,Licenciatura,Nombre,Nombres,Proyecto,Pryecto,Tutor,e-mail,edad,nombres
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,López Morales,...,NaN,Ingeniero en tecnología ambiental,NaN,Diana Laura,D-92011,NaN,Gusavo Sosa Iglesias,NaN,26.0,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paredes Marcial,...,NaN,NaN,Carlos,NaN,Recuperacion de aceite por inyeccion de flujo ...,NaN,Rodrigo Salazar,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vázquez Contreras,...,NaN,Ing.Petrolera,Alberto,NaN,NaN,IA aplicada en la Ingeniería de Yacimientos,Dr.Leonid Shemeretov,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Brena Hernandez,...,NaN,Geofisica,Alejandro,NaN,Clasificacion de sismofacies con ML,NaN,Dr. Luis Velasquillo,brenaalejandro@hotmail.com,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Martinez Angel,...,NaN,Ingenieria Quimica Petrolera,Eliseo Andrei,NaN,Sintesis. Evaluacion y Caracterizacion de liqu...,NaN,Dr. Rafael Mtz Palou,NaN,NaN,NaN
5,Nombres,Apellidos,E-mail,Edad,Grado,Licenciatura,Proyecto,Tutor,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Emilio,NaN,...,Dr. Jorge Ancheyta y Dr. Pablo Torres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,giron,...,NaN,geofisica,NaN,NaN,rn,NaN,velasquillo,NaN,NaN,rosario
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,de la Cruz,...,NaN,Ing. Petrolera,NaN,Sergio Enrique,Diseño de BN para AF,NaN,CLG,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Piña Fernández,...,NaN,Ingeniería Química,Mariana Yesenia,NaN,Síntesis de catalizadores base líquidos iónico...,NaN,Natalya V. Likhanova,NaN,NaN,NaN

In [33]:
type(df)

pandas.core.frame.DataFrame

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 30 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   1             1 non-null      object
 1   2             1 non-null      object
 2   3             1 non-null      object
 3   4             1 non-null      object
 4   5             1 non-null      object
 5   6             1 non-null      object
 6   7             1 non-null      object
 7   8             1 non-null      object
 8   A.            1 non-null      object
 9   Apellidos     8 non-null      object
 10  B.            1 non-null      object
 11  C             1 non-null      object
 12  D             1 non-null      float64
 13  E             1 non-null      object
 14  E-mail        6 non-null      object
 15  Edad          7 non-null      object
 16  Email         1 non-null      object
 17  F             1 non-null      object
 18  G             1 non-null      object
 19  Grado         8 non-null      object
 20  H             1 non-null      object
 21  Licenciatura  7 non-null      object
 22  Nombre        5 non-null      object
 23  Nombres       2 non-null      object
 24  Proyecto      7 non-null      object
 25  Pryecto       1 non-null      object
 26  Tutor         8 non-null      object
 27  e-mail        1 non-null      object
 28  edad          1 non-null      float64
 29  nombres       1 non-null      object
dtypes: float64(2), object(28)
memory usage: 2.5+ KB

In [35]:
import pandas as pd
my_data_1 = pd.Series({'Nombres': 'Diana Laura', 'Apellidos': 'López Morales', 
           'E-mail': 'ita.dianalopez@gmail.com', 'edad': 26, 
           'Grado':'Maestría', 'Licenciatura': 'Ingeniero en tecnología ambiental', 
           'Proyecto': 'D-92011', 'Tutor': 'Gusavo Sosa Iglesias'})
my_data_2 = pd.Series({'Nombre':'Carlos', 'Apellidos':'Paredes Marcial', 'E-mail':'cpm199660@gmail.com', 
           'Edad':'26 años', 'Grado':'Licenciatura', 
           'Proyecto':'Recuperacion de aceite por inyeccion de flujo bifasico de surfractante y agua de baja salinidad', 
           'Tutor':'Rodrigo Salazar'})
my_data_3 = pd.Series({'Nombre':'Alberto','Apellidos':'Vázquez Contreras',
           'Email':'posavazquez@imp.mx','Edad':'29','Grado':'1erSemestre',
           'Licenciatura':'Ing.Petrolera','Pryecto':'IA aplicada en la Ingeniería de Yacimientos',
           'Tutor':'Dr.Leonid Shemeretov'})
my_data_4 = pd.Series({'Nombre':'Alejandro','Apellidos':'Brena Hernandez', 'e-mail': 'brenaalejandro@hotmail.com','Edad':'26',
       'Grado':'Maestria', 'Licenciatura':'Geofisica','Proyecto':'Clasificacion de sismofacies con ML',
       'Tutor':'Dr. Luis Velasquillo'})
my_data_5 = pd.Series({'Nombre':'Eliseo Andrei', 'Apellidos':'Martinez Angel', 
         'E-mail':'eliseoandrei@live.com.mx','Edad':'18 años',
         'Grado':'Licenciatura','Licenciatura':'Ingenieria Quimica Petrolera',
         'Proyecto':'Sintesis. Evaluacion y Caracterizacion de liquidos ionicos como catalizadores', 
         'Tutor':'Dr. Rafael Mtz Palou'})
my_data_6 = pd.Series({1:'Nombres',2:'Apellidos',3:'E-mail',4:'Edad',5:'Grado',6:'Licenciatura',7:'Proyecto',8:'Tutor'})
my_data_7 = pd.Series({"A.":"Emilio",
        "B.":"Leal Gómez",
        "C":"em.lego1603@gmail.com",
        "D":30,
          "E":"Doctorado",
          "F":"Química",
          "G":"Síntesis, caracterización y evaluación de un agente de transferencia de hidrógeno sólido para la producción de diésel de ultra bajo azufre",
          "H":"Dr. Jorge Ancheyta y Dr. Pablo Torres"})
my_data_8 = pd.Series({'nombres':'rosario','Apellidos': 'giron','E-mail': 'xaiio_@hotmail.com',
                       'Edad':26,'Grado':3,'Licenciatura':'geofisica','Proyecto': 'rn','Tutor': 'velasquillo'})
my_data_9 = pd.Series({
           'Nombres':'Sergio Enrique',
           'Apellidos':'de la Cruz',
           'E-mail':'sdelacruzchable@gmail.com',
           'Edad':26,
           'Grado':'Lecenciatura',
           'Licenciatura':'Ing. Petrolera',
           'Proyecto':'Diseño de BN para AF',
           'Tutor':'CLG'
          })
my_data_10 = pd.Series({
    'Nombre':'Mariana Yesenia',
    'Apellidos':'Piña Fernández',
    'E-mail':'mayepifer@hotmail.com',
    'Edad':28,
    'Grado':'Licenciatura',
    'Licenciatura':'Ingeniería Química',
    'Proyecto':'Síntesis de catalizadores base líquidos iónicos para la reacción de alquilación',
    'Tutor':'Natalya V. Likhanova'
})

df = pd.DataFrame([my_data_1,my_data_2, my_data_3,my_data_4,my_data_5,my_data_8,my_data_9,my_data_10])
df

,Nombres,Apellidos,E-mail,edad,Grado,Licenciatura,Proyecto,Tutor,Nombre,Edad,Email,Pryecto,e-mail,nombres
0,Diana Laura,López Morales,ita.dianalopez@gmail.com,26.0,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Paredes Marcial,cpm199660@gmail.com,NaN,Licenciatura,NaN,Recuperacion de aceite por inyeccion de flujo ...,Rodrigo Salazar,Carlos,26 años,NaN,NaN,NaN,NaN
2,NaN,Vázquez Contreras,NaN,NaN,1erSemestre,Ing.Petrolera,NaN,Dr.Leonid Shemeretov,Alberto,29,posavazquez@imp.mx,IA aplicada en la Ingeniería de Yacimientos,NaN,NaN
3,NaN,Brena Hernandez,NaN,NaN,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo,Alejandro,26,NaN,NaN,brenaalejandro@hotmail.com,NaN
4,NaN,Martinez Angel,eliseoandrei@live.com.mx,NaN,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou,Eliseo Andrei,18 años,NaN,NaN,NaN,NaN
5,NaN,giron,xaiio_@hotmail.com,NaN,3,geofisica,rn,velasquillo,NaN,26,NaN,NaN,NaN,rosario
6,Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,NaN,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG,NaN,26,NaN,NaN,NaN,NaN
7,NaN,Piña Fernández,mayepifer@hotmail.com,NaN,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova,Mariana Yesenia,28,NaN,NaN,NaN,NaN

In [36]:
import pandas as pd
my_data_1 = pd.Series({'Nombres': 'Diana Laura', 'Apellidos': 'López Morales', 
           'E-mail': 'ita.dianalopez@gmail.com', 'edad': 26, 
           'Grado':'Maestría', 'Licenciatura': 'Ingeniero en tecnología ambiental', 
           'Proyecto': 'D-92011', 'Tutor': 'Gusavo Sosa Iglesias'})
my_data_2 = pd.Series({'Nombres':'Carlos', 'Apellidos':'Paredes Marcial', 'E-mail':'cpm199660@gmail.com', 
           'Edad':'26 años', 'Grado':'Licenciatura', 
           'Proyecto':'Recuperacion de aceite por inyeccion de flujo bifasico de surfractante y agua de baja salinidad', 
           'Tutor':'Rodrigo Salazar'})
my_data_3 = pd.Series({'Nombres':'Alberto','Apellidos':'Vázquez Contreras',
           'E-mail':'posavazquez@imp.mx','Edad':'29','Grado':'1erSemestre',
           'Licenciatura':'Ing.Petrolera','Pryecto':'IA aplicada en la Ingeniería de Yacimientos',
           'Tutor':'Dr.Leonid Shemeretov'})
my_data_4 = pd.Series({'Nombres':'Alejandro','Apellidos':'Brena Hernandez', 'E-mail': 'brenaalejandro@hotmail.com','Edad':'26',
       'Grado':'Maestria', 'Licenciatura':'Geofisica','Proyecto':'Clasificacion de sismofacies con ML',
       'Tutor':'Dr. Luis Velasquillo'})
my_data_5 = pd.Series({'Nombres':'Eliseo Andrei', 'Apellidos':'Martinez Angel', 
         'E-mail':'eliseoandrei@live.com.mx','Edad':'18 años',
         'Grado':'Licenciatura','Licenciatura':'Ingenieria Quimica Petrolera',
         'Proyecto':'Sintesis. Evaluacion y Caracterizacion de liquidos ionicos como catalizadores', 
         'Tutor':'Dr. Rafael Mtz Palou'})
my_data_6 = pd.Series({1:'Nombres',2:'Apellidos',3:'E-mail',4:'Edad',5:'Grado',6:'Licenciatura',7:'Proyecto',8:'Tutor'})
my_data_7 = pd.Series({"A.":"Emilio",
        "B.":"Leal Gómez",
        "C":"em.lego1603@gmail.com",
        "D":30,
          "E":"Doctorado",
          "F":"Química",
          "G":"Síntesis, caracterización y evaluación de un agente de transferencia de hidrógeno sólido para la producción de diésel de ultra bajo azufre",
          "H":"Dr. Jorge Ancheyta y Dr. Pablo Torres"})
my_data_8 = pd.Series({'Nombres':'rosario','Apellidos': 'giron','E-mail': 'xaiio_@hotmail.com',
                       'Edad':26,'Grado':3,'Licenciatura':'geofisica','Proyecto': 'rn','Tutor': 'velasquillo'})
my_data_9 = pd.Series({
           'Nombres':'Sergio Enrique',
           'Apellidos':'de la Cruz',
           'E-mail':'sdelacruzchable@gmail.com',
           'Edad':26,
           'Grado':'Lecenciatura',
           'Licenciatura':'Ing. Petrolera',
           'Proyecto':'Diseño de BN para AF',
           'Tutor':'CLG'
          })
my_data_10 = pd.Series({
    'Nombres':'Mariana Yesenia',
    'Apellidos':'Piña Fernández',
    'E-mail':'mayepifer@hotmail.com',
    'Edad':28,
    'Grado':'Licenciatura',
    'Licenciatura':'Ingeniería Química',
    'Proyecto':'Síntesis de catalizadores base líquidos iónicos para la reacción de alquilación',
    'Tutor':'Natalya V. Likhanova'
})
df_nan = pd.DataFrame([my_data_1, my_data_2, my_data_3,my_data_4,my_data_5,my_data_8,my_data_9,my_data_10])
df_nan

,Nombres,Apellidos,E-mail,edad,Grado,Licenciatura,Proyecto,Tutor,Edad,Pryecto
0,Diana Laura,López Morales,ita.dianalopez@gmail.com,26.0,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias,NaN,NaN
1,Carlos,Paredes Marcial,cpm199660@gmail.com,NaN,Licenciatura,NaN,Recuperacion de aceite por inyeccion de flujo ...,Rodrigo Salazar,26 años,NaN
2,Alberto,Vázquez Contreras,posavazquez@imp.mx,NaN,1erSemestre,Ing.Petrolera,NaN,Dr.Leonid Shemeretov,29,IA aplicada en la Ingeniería de Yacimientos
3,Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,NaN,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo,26,NaN
4,Eliseo Andrei,Martinez Angel,eliseoandrei@live.com.mx,NaN,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou,18 años,NaN
5,rosario,giron,xaiio_@hotmail.com,NaN,3,geofisica,rn,velasquillo,26,NaN
6,Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,NaN,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG,26,NaN
7,Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,NaN,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova,28,NaN

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombres       2 non-null      object
 1   Apellidos     8 non-null      object
 2   E-mail        6 non-null      object
 3   edad          1 non-null      float64
 4   Grado         8 non-null      object
 5   Licenciatura  7 non-null      object
 6   Proyecto      7 non-null      object
 7   Tutor         8 non-null      object
 8   Nombre        5 non-null      object
 9   Edad          7 non-null      object
 10  Email         1 non-null      object
 11  Pryecto       1 non-null      object
 12  e-mail        1 non-null      object
 13  nombres       1 non-null      object
dtypes: float64(1), object(13)
memory usage: 1.0+ KB

In [38]:
import pandas as pd
my_data_1 = pd.Series({'Nombres': 'Diana Laura', 'Apellidos': 'López Morales', 
           'E-mail': 'ita.dianalopez@gmail.com', 'Edad': 26, 
           'Grado':'Maestría', 'Licenciatura': 'Ingeniero en tecnología ambiental', 
           'Proyecto': 'D-92011', 'Tutor': 'Gusavo Sosa Iglesias'})
my_data_2 = pd.Series({'Nombres':'Carlos', 'Apellidos':'Paredes Marcial', 'E-mail':'cpm199660@gmail.com', 
           'Edad':'26 años', 'Grado':'Licenciatura', 
           'Proyecto':'Recuperacion de aceite por inyeccion de flujo bifasico de surfractante y agua de baja salinidad', 
           'Tutor':'Rodrigo Salazar'})
my_data_3 = pd.Series({'Nombres':'Alberto','Apellidos':'Vázquez Contreras',
           'E-mail':'posavazquez@imp.mx','Edad':'29','Grado':'1erSemestre',
           'Licenciatura':'Ing.Petrolera','Proyecto':'IA aplicada en la Ingeniería de Yacimientos',
           'Tutor':'Dr.Leonid Shemeretov'})
my_data_4 = pd.Series({'Nombres':'Alejandro','Apellidos':'Brena Hernandez', 'E-mail': 'brenaalejandro@hotmail.com','Edad':'26',
       'Grado':'Maestria', 'Licenciatura':'Geofisica','Proyecto':'Clasificacion de sismofacies con ML',
       'Tutor':'Dr. Luis Velasquillo'})
my_data_5 = pd.Series({'Nombres':'Eliseo Andrei', 'Apellidos':'Martinez Angel', 
         'E-mail':'eliseoandrei@live.com.mx','Edad':'18 años',
         'Grado':'Licenciatura','Licenciatura':'Ingenieria Quimica Petrolera',
         'Proyecto':'Sintesis. Evaluacion y Caracterizacion de liquidos ionicos como catalizadores', 
         'Tutor':'Dr. Rafael Mtz Palou'})
my_data_6 = pd.Series({1:'Nombres',2:'Apellidos',3:'E-mail',4:'Edad',5:'Grado',6:'Licenciatura',7:'Proyecto',8:'Tutor'})
my_data_7 = pd.Series({"A.":"Emilio",
        "B.":"Leal Gómez",
        "C":"em.lego1603@gmail.com",
        "D":30,
          "E":"Doctorado",
          "F":"Química",
          "G":"Síntesis, caracterización y evaluación de un agente de transferencia de hidrógeno sólido para la producción de diésel de ultra bajo azufre",
          "H":"Dr. Jorge Ancheyta y Dr. Pablo Torres"})
my_data_8 = pd.Series({'Nombres':'rosario','Apellidos': 'giron','E-mail': 'xaiio_@hotmail.com',
                       'Edad':26,'Grado':3,'Licenciatura':'geofisica','Proyecto': 'rn','Tutor': 'velasquillo'})
my_data_9 = pd.Series({
           'Nombres':'Sergio Enrique',
           'Apellidos':'de la Cruz',
           'E-mail':'sdelacruzchable@gmail.com',
           'Edad':26,
           'Grado':'Lecenciatura',
           'Licenciatura':'Ing. Petrolera',
           'Proyecto':'Diseño de BN para AF',
           'Tutor':'CLG'
          })
my_data_10 = pd.Series({
    'Nombres':'Mariana Yesenia',
    'Apellidos':'Piña Fernández',
    'E-mail':'mayepifer@hotmail.com',
    'Edad':28,
    'Grado':'Licenciatura',
    'Licenciatura':'Ingeniería Química',
    'Proyecto':'Síntesis de catalizadores base líquidos iónicos para la reacción de alquilación',
    'Tutor':'Natalya V. Likhanova'
})
df = pd.DataFrame([my_data_1, my_data_2, my_data_3,my_data_4,my_data_5,my_data_8,my_data_9,my_data_10])
df

,Nombres,Apellidos,E-mail,Edad,Grado,Licenciatura,Proyecto,Tutor
0,Diana Laura,López Morales,ita.dianalopez@gmail.com,26,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias
1,Carlos,Paredes Marcial,cpm199660@gmail.com,26 años,Licenciatura,NaN,Recuperacion de aceite por inyeccion de flujo ...,Rodrigo Salazar
2,Alberto,Vázquez Contreras,posavazquez@imp.mx,29,1erSemestre,Ing.Petrolera,IA aplicada en la Ingeniería de Yacimientos,Dr.Leonid Shemeretov
3,Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,26,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo
4,Eliseo Andrei,Martinez Angel,eliseoandrei@live.com.mx,18 años,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou
5,rosario,giron,xaiio_@hotmail.com,26,3,geofisica,rn,velasquillo
6,Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,26,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG
7,Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,28,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova

In [39]:
df.head()

,Nombres,Apellidos,E-mail,Edad,Grado,Licenciatura,Proyecto,Tutor
0,Diana Laura,López Morales,ita.dianalopez@gmail.com,26,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias
1,Carlos,Paredes Marcial,cpm199660@gmail.com,26 años,Licenciatura,NaN,Recuperacion de aceite por inyeccion de flujo ...,Rodrigo Salazar
2,Alberto,Vázquez Contreras,posavazquez@imp.mx,29,1erSemestre,Ing.Petrolera,IA aplicada en la Ingeniería de Yacimientos,Dr.Leonid Shemeretov
3,Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,26,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo
4,Eliseo Andrei,Martinez Angel,eliseoandrei@live.com.mx,18 años,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombres       8 non-null      object
 1   Apellidos     8 non-null      object
 2   E-mail        8 non-null      object
 3   Edad          8 non-null      object
 4   Grado         8 non-null      object
 5   Licenciatura  7 non-null      object
 6   Proyecto      8 non-null      object
 7   Tutor         8 non-null      object
dtypes: object(8)
memory usage: 640.0+ bytes

In [42]:
df["Nombres"]

0        Diana Laura
1             Carlos
2            Alberto
3          Alejandro
4      Eliseo Andrei
5            rosario
6     Sergio Enrique
7    Mariana Yesenia
Name: Nombres, dtype: object

In [41]:
type(df["Nombres"])

pandas.core.series.Series

In [43]:
df_names = df.set_index('Nombres')

In [44]:
df_names

,Apellidos,E-mail,Edad,Grado,Licenciatura,Proyecto,Tutor
Nombres,,,,,,,
Diana Laura,López Morales,ita.dianalopez@gmail.com,26,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias
Carlos,Paredes Marcial,cpm199660@gmail.com,26 años,Licenciatura,NaN,Recuperacion de aceite por inyeccion de flujo ...,Rodrigo Salazar
Alberto,Vázquez Contreras,posavazquez@imp.mx,29,1erSemestre,Ing.Petrolera,IA aplicada en la Ingeniería de Yacimientos,Dr.Leonid Shemeretov
Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,26,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo
Eliseo Andrei,Martinez Angel,eliseoandrei@live.com.mx,18 años,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou
rosario,giron,xaiio_@hotmail.com,26,3,geofisica,rn,velasquillo
Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,26,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG
Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,28,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova

In [45]:
df_names.columns

Index(['Apellidos', 'E-mail', 'Edad', 'Grado', 'Licenciatura', 'Proyecto',
       'Tutor'],
      dtype='object')

In [47]:
df_names.loc['Diana Laura']

Apellidos                           López Morales
E-mail                   ita.dianalopez@gmail.com
Edad                                           26
Grado                                    Maestría
Licenciatura    Ingeniero en tecnología ambiental
Proyecto                                  D-92011
Tutor                        Gusavo Sosa Iglesias
Name: Diana Laura, dtype: object

In [48]:
type(df_names.loc['Diana Laura'])

pandas.core.series.Series

In [49]:
df_names.loc['Diana Laura', 'Licenciatura']

'Ingeniero en tecnología ambiental'

In [50]:
df_names.T

Nombres,Diana Laura,Carlos,Alberto,Alejandro,Eliseo Andrei,rosario,Sergio Enrique,Mariana Yesenia
Apellidos,López Morales,Paredes Marcial,Vázquez Contreras,Brena Hernandez,Martinez Angel,giron,de la Cruz,Piña Fernández
E-mail,ita.dianalopez@gmail.com,cpm199660@gmail.com,posavazquez@imp.mx,brenaalejandro@hotmail.com,eliseoandrei@live.com.mx,xaiio_@hotmail.com,sdelacruzchable@gmail.com,mayepifer@hotmail.com
Edad,26,26 años,29,26,18 años,26,26,28
Grado,Maestría,Licenciatura,1erSemestre,Maestria,Licenciatura,3,Lecenciatura,Licenciatura
Licenciatura,Ingeniero en tecnología ambiental,NaN,Ing.Petrolera,Geofisica,Ingenieria Quimica Petrolera,geofisica,Ing. Petrolera,Ingeniería Química
Proyecto,D-92011,Recuperacion de aceite por inyeccion de flujo ...,IA aplicada en la Ingeniería de Yacimientos,Clasificacion de sismofacies con ML,Sintesis. Evaluacion y Caracterizacion de liqu...,rn,Diseño de BN para AF,Síntesis de catalizadores base líquidos iónico...
Tutor,Gusavo Sosa Iglesias,Rodrigo Salazar,Dr.Leonid Shemeretov,Dr. Luis Velasquillo,Dr. Rafael Mtz Palou,velasquillo,CLG,Natalya V. Likhanova

In [51]:
df_names.T.loc['Licenciatura']

Nombres
Diana Laura        Ingeniero en tecnología ambiental
Carlos                                           NaN
Alberto                                Ing.Petrolera
Alejandro                                  Geofisica
Eliseo Andrei           Ingenieria Quimica Petrolera
rosario                                    geofisica
Sergio Enrique                        Ing. Petrolera
Mariana Yesenia                   Ingeniería Química
Name: Licenciatura, dtype: object

In [52]:
df_names.loc['Alberto']['Licenciatura']

'Ing.Petrolera'

In [53]:
df_names.loc[:,['Nombres', 'Licenciatura']]

KeyError: "['Nombres'] not in index"

In [54]:
df.loc[:,['Nombres', 'Licenciatura']]

           Nombres                       Licenciatura
0      Diana Laura  Ingeniero en tecnología ambiental
1           Carlos                                NaN
2          Alberto                      Ing.Petrolera
3        Alejandro                          Geofisica
4    Eliseo Andrei       Ingenieria Quimica Petrolera
5          rosario                          geofisica
6   Sergio Enrique                     Ing. Petrolera
7  Mariana Yesenia                 Ingeniería Química

In [55]:
df.loc[:,['Nombres', 'Licenciatura']].dropna()

           Nombres                       Licenciatura
0      Diana Laura  Ingeniero en tecnología ambiental
2          Alberto                      Ing.Petrolera
3        Alejandro                          Geofisica
4    Eliseo Andrei       Ingenieria Quimica Petrolera
5          rosario                          geofisica
6   Sergio Enrique                     Ing. Petrolera
7  Mariana Yesenia                 Ingeniería Química

In [56]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [57]:
df_names.index

Index(['Diana Laura', 'Carlos', 'Alberto', 'Alejandro', 'Eliseo Andrei',
       'rosario', 'Sergio Enrique', 'Mariana Yesenia'],
      dtype='object', name='Nombres')

In [58]:
df.columns

Index(['Nombres', 'Apellidos', 'E-mail', 'Edad', 'Grado', 'Licenciatura',
       'Proyecto', 'Tutor'],
      dtype='object')

In [59]:
df2 = df_names.T.drop('Licenciatura')
df2

Nombres,Diana Laura,Carlos,Alberto,Alejandro,Eliseo Andrei,rosario,Sergio Enrique,Mariana Yesenia
Apellidos,López Morales,Paredes Marcial,Vázquez Contreras,Brena Hernandez,Martinez Angel,giron,de la Cruz,Piña Fernández
E-mail,ita.dianalopez@gmail.com,cpm199660@gmail.com,posavazquez@imp.mx,brenaalejandro@hotmail.com,eliseoandrei@live.com.mx,xaiio_@hotmail.com,sdelacruzchable@gmail.com,mayepifer@hotmail.com
Edad,26,26 años,29,26,18 años,26,26,28
Grado,Maestría,Licenciatura,1erSemestre,Maestria,Licenciatura,3,Lecenciatura,Licenciatura
Proyecto,D-92011,Recuperacion de aceite por inyeccion de flujo ...,IA aplicada en la Ingeniería de Yacimientos,Clasificacion de sismofacies con ML,Sintesis. Evaluacion y Caracterizacion de liqu...,rn,Diseño de BN para AF,Síntesis de catalizadores base líquidos iónico...
Tutor,Gusavo Sosa Iglesias,Rodrigo Salazar,Dr.Leonid Shemeretov,Dr. Luis Velasquillo,Dr. Rafael Mtz Palou,velasquillo,CLG,Natalya V. Likhanova

In [60]:
copy_df = df_names.copy()
copy_df = copy_df.drop('Alejandro')
copy_df

,Apellidos,E-mail,Edad,Grado,Licenciatura,Proyecto,Tutor
Nombres,,,,,,,
Diana Laura,López Morales,ita.dianalopez@gmail.com,26,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias
Carlos,Paredes Marcial,cpm199660@gmail.com,26 años,Licenciatura,NaN,Recuperacion de aceite por inyeccion de flujo ...,Rodrigo Salazar
Alberto,Vázquez Contreras,posavazquez@imp.mx,29,1erSemestre,Ing.Petrolera,IA aplicada en la Ingeniería de Yacimientos,Dr.Leonid Shemeretov
Eliseo Andrei,Martinez Angel,eliseoandrei@live.com.mx,18 años,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou
rosario,giron,xaiio_@hotmail.com,26,3,geofisica,rn,velasquillo
Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,26,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG
Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,28,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova

In [61]:
copy_df.drop?

In [62]:
df_nan

,Nombres,Apellidos,E-mail,edad,Grado,Licenciatura,Proyecto,Tutor,Edad,Pryecto
0,Diana Laura,López Morales,ita.dianalopez@gmail.com,26.0,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias,NaN,NaN
1,Carlos,Paredes Marcial,cpm199660@gmail.com,NaN,Licenciatura,NaN,Recuperacion de aceite por inyeccion de flujo ...,Rodrigo Salazar,26 años,NaN
2,Alberto,Vázquez Contreras,posavazquez@imp.mx,NaN,1erSemestre,Ing.Petrolera,NaN,Dr.Leonid Shemeretov,29,IA aplicada en la Ingeniería de Yacimientos
3,Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,NaN,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo,26,NaN
4,Eliseo Andrei,Martinez Angel,eliseoandrei@live.com.mx,NaN,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou,18 años,NaN
5,rosario,giron,xaiio_@hotmail.com,NaN,3,geofisica,rn,velasquillo,26,NaN
6,Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,NaN,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG,26,NaN
7,Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,NaN,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova,28,NaN

In [63]:
df_nan.dropna()

Empty DataFrame
Columns: [Nombres, Apellidos, E-mail, edad, Grado, Licenciatura, Proyecto, Tutor, Edad, Pryecto]
Index: []

In [64]:
df_nan_1 = df_nan.drop(columns=['edad','Pryecto'])
df_nan_1

,Nombres,Apellidos,E-mail,Grado,Licenciatura,Proyecto,Tutor,Edad
0,Diana Laura,López Morales,ita.dianalopez@gmail.com,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias,NaN
1,Carlos,Paredes Marcial,cpm199660@gmail.com,Licenciatura,NaN,Recuperacion de aceite por inyeccion de flujo ...,Rodrigo Salazar,26 años
2,Alberto,Vázquez Contreras,posavazquez@imp.mx,1erSemestre,Ing.Petrolera,NaN,Dr.Leonid Shemeretov,29
3,Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo,26
4,Eliseo Andrei,Martinez Angel,eliseoandrei@live.com.mx,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou,18 años
5,rosario,giron,xaiio_@hotmail.com,3,geofisica,rn,velasquillo,26
6,Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG,26
7,Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova,28

In [65]:
df_nan_2 = df_nan_1.dropna()
df_nan_2

,Nombres,Apellidos,E-mail,Grado,Licenciatura,Proyecto,Tutor,Edad
3,Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo,26
4,Eliseo Andrei,Martinez Angel,eliseoandrei@live.com.mx,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou,18 años
5,rosario,giron,xaiio_@hotmail.com,3,geofisica,rn,velasquillo,26
6,Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG,26
7,Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova,28

In [67]:
import numpy as np
l = np.random.randint(10, size=(len(df_nan_2)))
df_nan_2['Calificación'] = l
df_nan_2

C:\Users\gbdiaz\AppData\Local\Temp/ipykernel_14208/1735709236.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nan_2['Calificación'] = l

,Nombres,Apellidos,E-mail,Grado,Licenciatura,Proyecto,Tutor,Edad,Calificación
3,Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo,26,3
4,Eliseo Andrei,Martinez Angel,eliseoandrei@live.com.mx,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou,18 años,1
5,rosario,giron,xaiio_@hotmail.com,3,geofisica,rn,velasquillo,26,7
6,Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG,26,6
7,Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova,28,7

In [68]:
df_nan_2['Calificación'].unique()

array([3, 1, 7, 6])

In [69]:
df_nan_2.where(df_nan_2['Calificación']>=6)

,Nombres,Apellidos,E-mail,Grado,Licenciatura,Proyecto,Tutor,Edad,Calificación
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,rosario,giron,xaiio_@hotmail.com,3,geofisica,rn,velasquillo,26,7.0
6,Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG,26,6.0
7,Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova,28,7.0

In [70]:
df_nan_2.where(df_nan_2['Calificación']>=6).dropna()

,Nombres,Apellidos,E-mail,Grado,Licenciatura,Proyecto,Tutor,Edad,Calificación
5,rosario,giron,xaiio_@hotmail.com,3,geofisica,rn,velasquillo,26,7.0
6,Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG,26,6.0
7,Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova,28,7.0

In [71]:
df_nan_2.sort_values('Calificación')

,Nombres,Apellidos,E-mail,Grado,Licenciatura,Proyecto,Tutor,Edad,Calificación
4,Eliseo Andrei,Martinez Angel,eliseoandrei@live.com.mx,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou,18 años,1
3,Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo,26,3
6,Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG,26,6
5,rosario,giron,xaiio_@hotmail.com,3,geofisica,rn,velasquillo,26,7
7,Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova,28,7

In [72]:
columnas = ["Nombres","E-mail","Calificación"]
df_nan_2 = df_nan_2[columnas].sort_values('Calificación')
df_nan_2

           Nombres                      E-mail  Calificación
4    Eliseo Andrei    eliseoandrei@live.com.mx             1
3        Alejandro  brenaalejandro@hotmail.com             3
6   Sergio Enrique   sdelacruzchable@gmail.com             6
5          rosario          xaiio_@hotmail.com             7
7  Mariana Yesenia       mayepifer@hotmail.com             7

In [73]:
df_nan_2["Calificación"].value_counts()

7    2
1    1
3    1
6    1
Name: Calificación, dtype: int64

In [74]:
df_names

,Apellidos,E-mail,Edad,Grado,Licenciatura,Proyecto,Tutor
Nombres,,,,,,,
Diana Laura,López Morales,ita.dianalopez@gmail.com,26,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias
Carlos,Paredes Marcial,cpm199660@gmail.com,26 años,Licenciatura,NaN,Recuperacion de aceite por inyeccion de flujo ...,Rodrigo Salazar
Alberto,Vázquez Contreras,posavazquez@imp.mx,29,1erSemestre,Ing.Petrolera,IA aplicada en la Ingeniería de Yacimientos,Dr.Leonid Shemeretov
Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,26,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo
Eliseo Andrei,Martinez Angel,eliseoandrei@live.com.mx,18 años,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou
rosario,giron,xaiio_@hotmail.com,26,3,geofisica,rn,velasquillo
Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,26,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG
Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,28,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova

In [75]:
Edades = df_names['Edad']
print(Edades)
print(type(Edades))

Nombres
Diana Laura             26
Carlos             26 años
Alberto                 29
Alejandro               26
Eliseo Andrei      18 años
rosario                 26
Sergio Enrique          26
Mariana Yesenia         28
Name: Edad, dtype: object
<class 'pandas.core.series.Series'>

In [76]:
df4 = df_names.drop('Eliseo Andrei')
df4

,Apellidos,E-mail,Edad,Grado,Licenciatura,Proyecto,Tutor
Nombres,,,,,,,
Diana Laura,López Morales,ita.dianalopez@gmail.com,26,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias
Carlos,Paredes Marcial,cpm199660@gmail.com,26 años,Licenciatura,NaN,Recuperacion de aceite por inyeccion de flujo ...,Rodrigo Salazar
Alberto,Vázquez Contreras,posavazquez@imp.mx,29,1erSemestre,Ing.Petrolera,IA aplicada en la Ingeniería de Yacimientos,Dr.Leonid Shemeretov
Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,26,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo
rosario,giron,xaiio_@hotmail.com,26,3,geofisica,rn,velasquillo
Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,26,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG
Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,28,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova

In [77]:
df4 = df4.drop('Carlos')

df4

,Apellidos,E-mail,Edad,Grado,Licenciatura,Proyecto,Tutor
Nombres,,,,,,,
Diana Laura,López Morales,ita.dianalopez@gmail.com,26,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias
Alberto,Vázquez Contreras,posavazquez@imp.mx,29,1erSemestre,Ing.Petrolera,IA aplicada en la Ingeniería de Yacimientos,Dr.Leonid Shemeretov
Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,26,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo
rosario,giron,xaiio_@hotmail.com,26,3,geofisica,rn,velasquillo
Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,26,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG
Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,28,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova

In [78]:
df4.iloc[0]

Apellidos                           López Morales
E-mail                   ita.dianalopez@gmail.com
Edad                                           26
Grado                                    Maestría
Licenciatura    Ingeniero en tecnología ambiental
Proyecto                                  D-92011
Tutor                        Gusavo Sosa Iglesias
Name: Diana Laura, dtype: object

In [79]:
df4.index[0]

'Diana Laura'

In [80]:
for idx in range(len(df4)):
    print(df4.index[idx],df4.iloc[idx]["Edad"])

Diana Laura 26
Alberto 29
Alejandro 26
rosario 26
Sergio Enrique 26
Mariana Yesenia 28

In [81]:
for idx in range(len(df4)):
    df4.iloc[idx]["Edad"] = df4.iloc[idx]["Edad"]+10
    print(df4.index[idx],df4.iloc[idx]["Edad"])

Diana Laura 36

TypeError: can only concatenate str (not "int") to str

In [82]:
df4

,Apellidos,E-mail,Edad,Grado,Licenciatura,Proyecto,Tutor
Nombres,,,,,,,
Diana Laura,López Morales,ita.dianalopez@gmail.com,36,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias
Alberto,Vázquez Contreras,posavazquez@imp.mx,29,1erSemestre,Ing.Petrolera,IA aplicada en la Ingeniería de Yacimientos,Dr.Leonid Shemeretov
Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,26,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo
rosario,giron,xaiio_@hotmail.com,26,3,geofisica,rn,velasquillo
Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,26,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG
Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,28,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova

In [83]:
for idx in range(len(df4)):
    print(df4.index[idx],df4.iloc[idx]["Edad"],type(df4.iloc[idx]["Edad"]))

Diana Laura 36 <class 'int'>
Alberto 29 <class 'str'>
Alejandro 26 <class 'str'>
rosario 26 <class 'int'>
Sergio Enrique 26 <class 'int'>
Mariana Yesenia 28 <class 'int'>

In [84]:
for idx in range(len(df4)):
    df4.iloc[idx]["Edad"] = int(df4.iloc[idx]["Edad"])+10
    print(df4.index[idx],int(df4.iloc[idx]["Edad"])+10)

Diana Laura 56
Alberto 49
Alejandro 46
rosario 46
Sergio Enrique 46
Mariana Yesenia 48

In [85]:
Edades = df4['Edad']
#print(Edades)
for i in range(len(Edades)):
    Edades[i] = int(Edades[i])
    print(i,Edades[i],type(Edades[i]))

0 46 <class 'int'>
1 39 <class 'int'>
2 36 <class 'int'>
3 36 <class 'int'>
4 36 <class 'int'>
5 38 <class 'int'>

In [86]:
df4['Edad'] = Edades
df4

,Apellidos,E-mail,Edad,Grado,Licenciatura,Proyecto,Tutor
Nombres,,,,,,,
Diana Laura,López Morales,ita.dianalopez@gmail.com,46,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias
Alberto,Vázquez Contreras,posavazquez@imp.mx,39,1erSemestre,Ing.Petrolera,IA aplicada en la Ingeniería de Yacimientos,Dr.Leonid Shemeretov
Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,36,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo
rosario,giron,xaiio_@hotmail.com,36,3,geofisica,rn,velasquillo
Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,36,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG
Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,38,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova

In [87]:
df4['Edad'] = df4['Edad'] + 10
df4

,Apellidos,E-mail,Edad,Grado,Licenciatura,Proyecto,Tutor
Nombres,,,,,,,
Diana Laura,López Morales,ita.dianalopez@gmail.com,56,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias
Alberto,Vázquez Contreras,posavazquez@imp.mx,49,1erSemestre,Ing.Petrolera,IA aplicada en la Ingeniería de Yacimientos,Dr.Leonid Shemeretov
Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,46,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo
rosario,giron,xaiio_@hotmail.com,46,3,geofisica,rn,velasquillo
Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,46,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG
Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,48,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova

## Guardar DataFrames

Para guardar los dataframes se puede usar las siguientes instrucciones:

```
df.to_csv('df.csv')
df.to_excel("df.xlsx")
df.to_csv(r'Datos.txt', header=None, index=None, sep='\t', mode='a')
```

In [88]:
df_names.to_csv('df_names.csv')

In [89]:
df.to_csv('df.csv')

In [90]:
df_names.to_excel('df_names.xlsx')

In [91]:
df_names.to_excel('df_names.xlsx',sheet_name='Datos')

In [92]:
df.to_csv(r'Datos_1.txt', sep='\t', mode='a')

In [93]:
df.to_csv(r'Datos.txt', header=None, index=None, sep='\t', mode='a')

## Leer DataFrames

Para leer los dataframes se puede usar la siguiente instrucción:

```
df = pd.read_csv('df.csv')
```

In [94]:
df_read = pd.read_csv('df_names.csv')
df_read

,Nombres,Apellidos,E-mail,Edad,Grado,Licenciatura,Proyecto,Tutor
0,Diana Laura,López Morales,ita.dianalopez@gmail.com,26,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias
1,Carlos,Paredes Marcial,cpm199660@gmail.com,26 años,Licenciatura,NaN,Recuperacion de aceite por inyeccion de flujo ...,Rodrigo Salazar
2,Alberto,Vázquez Contreras,posavazquez@imp.mx,29,1erSemestre,Ing.Petrolera,IA aplicada en la Ingeniería de Yacimientos,Dr.Leonid Shemeretov
3,Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,26,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo
4,Eliseo Andrei,Martinez Angel,eliseoandrei@live.com.mx,18 años,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou
5,rosario,giron,xaiio_@hotmail.com,26,3,geofisica,rn,velasquillo
6,Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,26,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG
7,Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,28,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova

In [95]:
df_read = pd.read_csv('df.csv')
df_read

,Unnamed: 0,Nombres,Apellidos,E-mail,Edad,Grado,Licenciatura,Proyecto,Tutor
0,0,Diana Laura,López Morales,ita.dianalopez@gmail.com,26,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias
1,1,Carlos,Paredes Marcial,cpm199660@gmail.com,26 años,Licenciatura,NaN,Recuperacion de aceite por inyeccion de flujo ...,Rodrigo Salazar
2,2,Alberto,Vázquez Contreras,posavazquez@imp.mx,29,1erSemestre,Ing.Petrolera,IA aplicada en la Ingeniería de Yacimientos,Dr.Leonid Shemeretov
3,3,Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,26,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo
4,4,Eliseo Andrei,Martinez Angel,eliseoandrei@live.com.mx,18 años,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou
5,5,rosario,giron,xaiio_@hotmail.com,26,3,geofisica,rn,velasquillo
6,6,Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,26,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG
7,7,Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,28,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova

In [96]:
df_read = pd.read_csv('df_names.csv', index_col=0)
df_read

,Apellidos,E-mail,Edad,Grado,Licenciatura,Proyecto,Tutor
Nombres,,,,,,,
Diana Laura,López Morales,ita.dianalopez@gmail.com,26,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias
Carlos,Paredes Marcial,cpm199660@gmail.com,26 años,Licenciatura,NaN,Recuperacion de aceite por inyeccion de flujo ...,Rodrigo Salazar
Alberto,Vázquez Contreras,posavazquez@imp.mx,29,1erSemestre,Ing.Petrolera,IA aplicada en la Ingeniería de Yacimientos,Dr.Leonid Shemeretov
Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,26,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo
Eliseo Andrei,Martinez Angel,eliseoandrei@live.com.mx,18 años,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou
rosario,giron,xaiio_@hotmail.com,26,3,geofisica,rn,velasquillo
Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,26,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG
Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,28,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova

In [97]:
df_read = pd.read_excel('df_names.xlsx', index_col=0)
df_read

,Apellidos,E-mail,Edad,Grado,Licenciatura,Proyecto,Tutor
Nombres,,,,,,,
Diana Laura,López Morales,ita.dianalopez@gmail.com,26,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias
Carlos,Paredes Marcial,cpm199660@gmail.com,26 años,Licenciatura,NaN,Recuperacion de aceite por inyeccion de flujo ...,Rodrigo Salazar
Alberto,Vázquez Contreras,posavazquez@imp.mx,29,1erSemestre,Ing.Petrolera,IA aplicada en la Ingeniería de Yacimientos,Dr.Leonid Shemeretov
Alejandro,Brena Hernandez,brenaalejandro@hotmail.com,26,Maestria,Geofisica,Clasificacion de sismofacies con ML,Dr. Luis Velasquillo
Eliseo Andrei,Martinez Angel,eliseoandrei@live.com.mx,18 años,Licenciatura,Ingenieria Quimica Petrolera,Sintesis. Evaluacion y Caracterizacion de liqu...,Dr. Rafael Mtz Palou
rosario,giron,xaiio_@hotmail.com,26,3,geofisica,rn,velasquillo
Sergio Enrique,de la Cruz,sdelacruzchable@gmail.com,26,Lecenciatura,Ing. Petrolera,Diseño de BN para AF,CLG
Mariana Yesenia,Piña Fernández,mayepifer@hotmail.com,28,Licenciatura,Ingeniería Química,Síntesis de catalizadores base líquidos iónico...,Natalya V. Likhanova

In [98]:
df_read = pd.read_csv('Data.txt', sep="\t", header=None)
df_read

,0,1,2,3,4,5,6,7
0,Diana Laura,López Morales,ita.dianalopez@gmail.com,26,Maestría,Ingeniero en tecnología ambiental,D-92011,Gusavo Sosa Iglesias

In [99]:
df_read.iloc[0]

0                          Diana Laura
1                        López Morales
2             ita.dianalopez@gmail.com
3                                   26
4                             Maestría
5    Ingeniero en tecnología ambiental
6                              D-92011
7                 Gusavo Sosa Iglesias
Name: 0, dtype: object

In [100]:
df_read.iloc[0][0]

'Diana Laura'

# Otras formas de crear data Frames


## De listas

In [102]:
#Primero se crea la lista de datos a usar.
data = [10,20,30,40,50,60]
  
#Se crea la Data Frame usando el nombre Numeros para la columna.
df = pd.DataFrame(data, columns=['Numeros'])
  
# print dataframe.
df

   Numeros
0       10
1       20
2       30
3       40
4       50
5       60

## De listas de listas

In [103]:
#Primero se crea la lista de listas, cada elemento corresponde al par del nombre y edad de una persona.
data = [['juan', 10], ['pepe', 15], ['julia', 14]]
  
#Luego creamos la Data Frame y nombramos las columnas como Nombre y Edad
df = pd.DataFrame(data, columns=['Nombre', 'Edad'])
  
df

  Nombre  Edad
0   juan    10
1   pepe    15
2  julia    14

# Diccionarios con listas
Para crear una Data Frame de un diccionario de arreglos o listas, todos los arreglos deben ser del mismo tamaño. El indice debe ser del mismo tamaño que los arreglos, si no se declara el indice, se toma el tamaño del areglo, n, y el indice es range(n).

In [104]:

data = {'Nombre': ['juan', 'pepe', 'julia', 'ana'],
        'Edad': [20, 21, 19, 18]}

df = pd.DataFrame(data)
  

df

  Nombre  Edad
0   juan    20
1   pepe    21
2  julia    19
3    ana    18

## Dando las etiquetas explicitamente

In [105]:

data = {'Nombre': ['juan', 'pepe', 'julia', 'ana'],
        'Calificacion': [99, 98, 95, 90]}

df = pd.DataFrame(data, index=['rank1',
                               'rank2',
                               'rank3',
                               'rank4'])
  
df

      Nombre  Calificacion
rank1   juan            99
rank2   pepe            98
rank3  julia            95
rank4    ana            90

## Pasando listas de diccionarios 
Se pueden crear Data Frames usando las listas de un diccionario como los datos de entrada. Por defecto, las claves del diccionario se usan como columnas.

In [106]:

data = [{'a': 1, 'b': 2, 'c': 3},
        {'a': 10, 'b': 20, 'c': 30}]
  

df = pd.DataFrame(data)

df

    a   b   c
0   1   2   3
1  10  20  30

In [108]:
#Se puede usar un diccionario con indices de fila
data = [{'b': 2, 'c': 3}, {'a': 10, 'b': 20, 'c': 30}]
  
df = pd.DataFrame(data, index=['primero', 'segundo'])

df

          b   c     a
primero   2   3   NaN
segundo  20  30  10.0

In [113]:
#O tambien, usando indices tanto para filas como para columnas

data = [{'a': 1, 'b': 2},
        {'a': 5, 'b': 10, 'c': 20}]
  

df1 = pd.DataFrame(data, index=['primero',
                                'segundo'],
                   columns=['a', 'b'])
  

df2 = pd.DataFrame(data, index=['primero',
                                'segundo'],
                   columns=['a', 'b'])

print(df1, "\n")
  

df2

         a   b
primero  1   2
segundo  5  10

         a   b
primero  1   2
segundo  5  10