1.1 Asignar el valor 2 a la variable x y el valor 3 a la variable y e imprimirlas

1.2 Sumar ambas variables en z e imprimirla

1.3 Borrar la variable x e imprimir todas las variables

In [ ]:
# 1.1

In [ ]:
# 1.2

In [ ]:
# 1.3

2. Dados x = 10 and y = 3, calcular las siguientes operaciones e imprimir los resultados

```
u = x + y
v = xy
w = x/y
z = x - y
r = x**9
s = y*3
p = x**y
```

In [ ]:
# 2

3.1 Crear una cadena de nombre S que contenga las variavles '123' a la variable S. Convierta la cadena en un tipo flotante y asigne la salida a la variable N, imprimir ambas variables

3.2 Verifique que S es una cadena y N es un flotante (imprimir)

3.3 Sumar los elementos de S en la variable sum_S y de N en sum_N, imprimir sum_S y sum_N y el tipo de datos de amvas variables

In [ ]:
# 3.1

In [ ]:
# 3.2

In [ ]:
# 3.3

4. Asigne la cadena 'HOLA' a la variable s1 y la cadena 'hola' a la variable s2. Usa el operador *==* para mostrar que no son iguales. Mostrar que s1 y s2 son iguales si se usa el método *s1.lower()* en s1. Mostrar que s1 y s2 son iguales si se usa el método *s2.upper()* en s2

In [ ]:
# 4

5. Contar el número de letras que tiene la siguiente oración e imprimir la oración, seguida del numero de letras que tiene, 

    x = "Instituto Mexicano del Petróleo" 
    
    y = "Nombre completo"

In [ ]:
# 5

6.1 Crear una lista *lista_a* con los números  [1, 2, 3, 4, 20, 6, 7, 8, 9, 10], imprir y agregar el número 5 y quitar el 20, imprimir la lista

6.2 Ordenar la lista *lista_a* de forma ascendente e imprimirla

In [ ]:
# 6.1

In [ ]:
# 6.2

7.1 Crear un conjunto "C" con todas las letras del diccionario en español

7.2 Contar los elementos de "C"

7.3 Imprimir el conjunto "C" y el tamaño de este conjunto

In [ ]:
# 7.1

In [ ]:
# 7.2

In [ ]:
# 7.3

8.1 Crear un diccionaro "D" con todas las letras del diccionario en español y asignarles el número de letras, e.g. A tiene valor 1, B valor 2, etc

8.2 Imprimir cada letra con su respectivo valor

8.3 Seleccionar las letras de tu nombre y sumar los valores correspondientes a cada letra, imprimir tu nombre y el total de la suma

In [ ]:
# 8.1

In [ ]:
# 8.2

In [ ]:
# 8.3

9. Escribe tu nombre completo y separalo en una lista que contenga todos los elementos de tu nombre

In [ ]:
# 9

10.1 Realiza una lista que se llame lista vieja con los siguientes elementos [[1,1,1], [2,2,2],[3,3,3]] y busca su id de referencia en la memoria (usa el comando id()).

10.2 Iguala la lista vieja con otra lista qiue se llame lista nueva y busca el lugar de referencia de la nueva lista

10.3 Adiciona la lista [4] a la vieja lista e imprime la nueva lista.

10.4 Copia la vieja lista utilizando deep copy y nombrala nueva lista 2 (importar librería copy, usar comando copy.copy())

10.5 Imprime los id's de referencia de la vieja lista y de la nueva lista 2

10.6 Adiciona la lista [5] en la vieja lista e imprime lista vieja y lista nueva 2

In [ ]:
11. Crear un diccionario con nombre my_data que contenga:
    1. Nombres 
    2. Apellidos
    3. E-mail
    4. Edad
    5. Grado 
    6. Licenciatura
    7. Proyecto
    8. Tutor

In [ ]:
# 11

12. Realiza un código que tome 2 numeros dados por un usuario y verifique si la suma es menor, mayor o igual que 10

In [6]:
# 12

13. Realiza un código que tome tre números de un usuario y verifique si todos los numeros son iguales o almenos dos de ellos son iguales

In [7]:
# 13

14. Realizar un código que lea dos números de terminal y una operacion, y que imprima la operación que se está realizando, asi como los resultados, las operaciones a realizar son las siguientes:

    "+"

    "-"

    "*"
    
    "/"

In [8]:
# 14

15. Realiza un programa que lea una variable dada en un tipo de unidades, imprima la variable de entrada con sus unidades, y la convierta a las unidades dadas, imprima su valor y las nuevas unidades


1.   Atmosferas a Pascales / Pascales a atmósferas
2.   Bares a Pascales / Pascales a bares
3.   Pies a metros / metros a pies
4.   Metros a centímetros / centímetros a metros
5.   Darcys a metros / metros a Darcys
6.   Centi Poiseilles a Pascales*s / Pascales*s a Centi Poiseilles

In [ ]:
# 15

16. Hacer una tabla en markdow que muestre el valor requerido para convertir las unidades del ejercicio anterior

# 16